/* embed the fonts  */
@font-face {
  font-family: 'SportingGrotesque';
  src: url('../fonts/subset-SportingGrotesque-Bold.woff2') format('woff2'),
      url('../fonts/subset-SportingGrotesque-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SportingGrotesque';
  src: url('../fonts/subset-SportingGrotesque-Regular.woff2') format('woff2'),
      url('../fonts/subset-SportingGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;

  font-family: 'SportingGrotesque', sans-serif;
  font-size: 15px;
}

h1, h2, h3, p, a {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.menu {
  margin: 2em 4em;
  height: 70px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu a {
  width: 200px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.video-title {
  font-size: 400px;
  margin-left: 20px;
}

/* fine degli elementi ricorrenti */
/* --------------- */

/* section name */
.home-section, .home-section a {
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 4em;
  margin-top: 10em;
  color: #FFFFFF;
}

/* skills */
.personal-info {
  margin-left: 4em;
}

h1 {
  font-size: 200px;
  margin-top: 150px;
  margin-bottom: 0;
}

.index-ciao {
  font-size: 200px;
  margin-top: 150px;
  margin-bottom: 0;

  position: relative;
  animation-duration: 4000ms;
  animation-delay: 500ms;
  animation-timing-function: linear;
  animation-name: ciaoHome;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes ciaoHome {

  0% {
    left: 0;
  }

  50% {
    left: 300px;
  }

  75% {
    left: 900px;
  }
  /* the ending point of the animation as 100% or to */
  100% {
    left: 1200px;
    top: 0px;
  }

}

.personal-info-text {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;

  margin: 0;
}

h3 {
  font-size: 65px;
  text-transform: uppercase;
  line-height: 70px;
}

.skills-list {
  margin-left: 4em;
  margin-right: 4em;
}

.skill-text {
  color: #FFFFFF;
  font-size: 45px;
  text-transform: uppercase;
  border-top: 1px solid #FFFFFF;

  padding-top: 8px;
  margin-left: -1em;

  display: block;
}

.skill-text-uiux {
  border-bottom: 1px solid #FFFFFF;
}

/* works */

.work {
  margin: 0;
  height: 666px;

  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

.project-info {
  height: 666px;
  margin-left: 4em;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.view-project {
  width: 240px;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right; 
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}

/* wanderlust museum */
.work-wanderlust {
  background-color: #0441F4;
  height: 750px;
}

.work-wanderlust h3, a, p {
  color: #000000;
}

.wanderlust-img-home {
  width: 600px;
  margin-right: 4em;
  margin-left: 8em;
}


/* work 2 - ultralight beam  */
.ultralight-img {
  width: 400px;
}

.project-img-ultralight {
  background-color: #FFFFFF;
  width: 900px;
  margin-left: 4em;
  margin-top: 4em;
}


/* work 3 - the fork redesign */
.work:last-child {
  width: 100%;
  margin: 4em 0;
  height: 666px;
  background-color: #1CF490;

  display: flex;
}

.the-fork-img2 {
  height: 600px;
}

.the-fork-img1 {
  width: 300px;
  position: absolute;
  margin-left: 200px;
  margin-top: 50px;
}

/* contacts */
.contact-name {
  height: 100px;
  margin-left: 4em;
  margin-right: 4em;

  text-transform: uppercase;
  font-size: 1.2em;
  color: #FFFFFF;

  border-top: 1px solid #FFFFFF;

  display: flex;
  align-items: center;
}

.home-section a {
  margin-left: 0;
  color: #FFFFFF;
}

.contact-name-3 {
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.contact-name a {
  color: #FFFFFF;
}

.contact-info {
  text-transform: lowercase;
  font-size: 40px;
  margin-left: 300px;
}



/* --------------------------------------------- */
/* WANDERLUST PROJECT PAGE */
/* -------------------------------------------------- */
.wanderlust-logo {
  width: 100%;
}

.description-wanderlust {
  color: #0041FF;
  font-size: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

.project-introduction {
  background-color: #0041FF;
}

.wanderlust-title {
  text-transform: uppercase;
  margin-left: 1.2em;
  padding-top: 50px;
  font-size: 5em;
}

.wanderlust-subtitle {
  margin-left: 3em;
  margin-top: -10px;
  color: #FFFFFF;
  font-size: 2em;
}

.wand-img-poster-1 {
  width: 45%;
  margin-left: 3em;
}

.wand-img-businesscard-project-pg {
  width: 45%;
  float: right;
  margin-right: 4em;
  margin-top: -40em;
}

.icon-wand-title {
  float: right;
  clear: both;
  margin-right: 4em;
  margin-top: 40px;
  
  text-transform: uppercase;

  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding-right: 630px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wand-img-icons {
  width: 30%;
  margin-left: 250px;
  margin-top: 120px;
  padding-bottom: 60px;
}

.wand-img-identity {
  width: 100%;
}

.wand-pattern-title {
  width: 500px;
  margin-left: 4em;
  text-transform: uppercase;

  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wand-img-pattern-white {
  width: 90%;
  margin-left: 6em;
}

/* info project */
/* ---- maybe for every project ??? */
.info-project-title {
  color: #FFFFFF;
  text-transform: uppercase;

  border-top: 1px solid #FFFFFF;
  padding-top: 30px;
  font-size: 20px;

  margin-left: 4em;
  margin-right: 4em;
}

.info-project-description {
  margin-left: 300px;
  text-transform: lowercase;
  font-size: 60px;
}


/* ------------------- */
/* ULTRALIGHT BEAM PROJECT */
/* --------------------- */

.ultralight-body {
  background-color: #ffffff;
}

.ultralight-container {
  background-color: white;
}

.ultralight-menu {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

a.ultra-menu-color {
  color: #000000;
  background-color: white;
}

.ultralight-title, .ultralight-subtitle {
  color: #000000; 
}

.project-title {
  text-transform: uppercase;
  margin-left: 1.5em;
  padding-top: 50px;
  font-size: 60px;
}

.project-subtitle {
  margin-left: 3.8em;
  margin-top: -10px;
  font-size: 25px;
}

.ultralight-introduction {
  background-color: #FFFFFF;
  height: 1200px;
  margin-left: -2em;
  margin-top: -6em;
}

.ultra-cover {
  float: right;
  width: 40%;
  background-color: #FFFFFF;
  margin-top: -10px;
}

.description-ultralight {
  color: #FFFFFF;
  font-size: 45px;
  margin-left: 2em;
  margin-right: 2em;
  float: left;
}

.ultra-inside-1 {
  background-color: #000000;
}

.ultralight-img-1 {
  width: 70%;
  float: right;
}

.ultralight-img-2 {
  width: 70%;
  z-index: 1;
  margin-top: -400px;
}

.ultralight-img-collage-1 {
  width: 90%;
  margin-left: 100px;
  margin-top: 8em;
}


.ultralight-img-verde {
  float: left;
  width: 60%;
}

.ultralight-img-repeat {
  width: 60%;
  float: right;
}

.ultralight-img-repeat-2 {
  width: 60%;
  float: left;
  margin-top: -300px;
}

.ultra-inside-2 {
  background-color: black;
  width: 100%;
  height: 1400px;
  margin-top: 8em;
}

.ultralight-img-collage-2 {
  width: 50%;
  margin-top: 8em;
  margin-left: 400px;
}

.ultralight-img-big-photo {
  width: 90%;
}

.ultralight-bigphoto-bg {
  background-color: black;
  width: 100%;
}

.info-ultralight {
  background-color: black;
  margin-top: -30px;
  padding-top: 100px;
}

.info-ultralight-1 {
  display: flex;
  border-bottom: 1px solid #ffffff;
  margin-left: 40px;
  margin-right: 40px;
}

.info-title-ultralight {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 20px;
}

li {
  color: #FFFFFF;
  font-size: 50px;
}

ul {
  list-style-type: none;
}

.info-ultralight-sx-1 {
  width: 350px;
}


/* -------------------------------------- */
/* --- DIECI MARI DI RIMINI */
/* ------------------------------------------- */

.diecimari-menu {
  border-color: #F7CD45;
}

a.diecimari-menu-color {
  color: #F7CD45;
}

.diecimari-introduction {
  margin-left: -2em;
}

.diecimari-cover {
  width: 50%;
  float: right;
  margin-right: 4em;
}

.title-diecimari, .subtitle-diecimari {
  color: #F7CD45;
}

.description-dieci {
  color: #F7CD45;
  font-size: 3em;
  margin-left: 2em;
  margin-right: 2em;
  float: left;
}

.diecimari-photo1 {
  background-color: #F7CD45;
  width: 100%;
}

.diecimari-photo2 {
  width: 50%;
  z-index: 1;
}

.diecimari-photo3 {
  width: 70%;
  margin-top: -300px;
  margin-left: 450px;
}

.diecimari-photo4 {
  width: 100%;
}

.diecimari-poster1 {
  width: 100%;
}

.diecimari-poster2 {
  width: 70%;
  float: right;
  margin-right: 4em;
  margin-top: 60px;
}

.diecimari-poster3 {
  width: 50%;
  margin-top: -700px;
  margin-left: 4em;
}

.diecimari-poster4 {
  width: 40%;
  margin-top: -200px;
  margin-left: -100px;
}

.info-diecimari {
  float: left;
}


/* -------------------------------------- */
/* --- CONTACTS */
/* ------------------------------------------- */

.contact-coffee {
  font-size: 60px;
  margin-left: 1em;
}
.contact-photo {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo-contact {
  width: 40%;
}

.contact-drink {
  color: #000000;
  font-size: 60px;
  align-self: flex-end;
}


/* -------------------------------------- */
/* --- POINTE */
/* ------------------------------------------- */

a.pointe-menu-color {
  color: #FF005C;
}

.pointe-menu {
  border-color: #FF005C;
}

.pointe-img-1 {
  width: 90%;
  align-self: center;
}

.img-1-pointe {
  display: flex;
  justify-content: center;
  align-content: center;
}

.description-pointe {
  color: #FF005C;
  font-size: 45px;
  margin-left: 2em;
  margin-right: 2em;
  float: left;
}

.title-pointe {
  color: #FF005C;
}

.subtitle-pointe {
  color: #FF005C;
}

.background-pointe-logo {
  background-color: #FFFFFF;
  height: 600px;
  width: 100%;
  margin-top: 900px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pointe-logo-img {
  width: 70%;
  align-self: center;
}

.project-solution-text {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 60px;
  margin-left: 1em;
  margin-right: 1em;
}

.background-pointe-screen-1, .background-pointe-screen-2 {
  background-color: #FF005C;
  height: 1500px;
  width: 100%;
}

.pointe-playlist-img {
  width: 70%;
  margin-top: -600px;
}

.pointe-movement-description-img {
  width: 40%;
  margin-left: 55%;
  margin-top: 100px;
}

.pointe-exercise-img-1 {
  width: 80%;
  margin-top: -500px;
  margin-left: 200px;
}

.pointe-choose-movement-img {
  width: 60%;
}

.pointe-position-img {
  width: 40%;
  float: right;
  margin-top: 100px;
}

.background-pointe-screen-2 {
  height: 900px;
}

.pointe-project-title {
  width: 40%;
  margin-left: 4em;
  margin-top: 200px;
  text-transform: uppercase;

  color: #FF005C;

  border-top: 1px solid #FF005C;
  border-bottom: 1px solid #FF005C;
  padding-top: 30px;
  padding-bottom: 30px;
}

.proiezione-1-pointe, .proiezione-2-pointe, .proiezione-3-pointe {
  width: 40%;
}

.proiezione-1-pointe, .proiezione-3-pointe {
  float: right;
  margin-right: 4em;
}

.proiezione-2-pointe {
  margin-left: 6em;
}

.pointe-icon-title {
  width: 40%;
  margin-left: 4em;
  margin-top: 450px;
  text-transform: uppercase;

  color: #FF005C;

  border-top: 1px solid #FF005C;
  border-bottom: 1px solid #FF005C;
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon-set-pointe-img {
  margin-left: 4em;
  width: 45%;
}


/* -------------------------------------- */
/* --- PILLS */
/* ------------------------------------------- */

a.pills-menu-color {
  color: #000000;
}

.background-pills-color {
  background-color: #E83F4E;
  margin-top: -150px;
  height: 1000px;
}

.pills-logo-img {
  margin-top: -1000px;
  margin-left: 10em;
  width: 70%;
}

.subtitle-pills {
  color: #FFFFFF;
}

.description-pills {
  color: #E83F4E;
  font-size: 45px;
  margin-left: 2em;
  margin-right: 2em;
  float: left;
}

.pills-img-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  float: left;
  margin-left: 4em;
}

.pills-indice-img {
  align-self: center;
  width: 45%;
  margin-left: -7em;
}

.pills-restaurant-name-img {
  width: 45%;
  align-self: center;
  margin-right: 2em;
}

.pills-restaurant-article-img {
  width: 90%;
  margin-top: 50px;
  margin-left: 4em;
}

.pills-illusration {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 40px;
}

.pills-bologna-illustration-img {
  width: 600px;
  align-self: center;
}

.pills-venezia-illustration-img {
  width: 400px;
  align-self: center;
  margin-left: 2em;
}

.pills-page-photo-img, .pills-photos {
  width: 93%;
  margin-left: 4em;
  margin-top: 50px;
}


/* -------------------------------------- */
/* --- THE FORK */
/* ------------------------------------------- */

.thefork-menu {
  border-color: #773DD4;
}

a.thefork-menu-color {
  color: #773DD4;
}

.background-thefork-color {
  background-color: #1CF490;
  margin-top: -150px;
  height: 1000px;
}

.thefork-introduction {
  margin-top: -1000px;
}

.title-thefork, .subtitle-thefork {
  color: #773DD4;
}

.img-the-fork-introduction {
  display: flex;
  justify-content: flex-end;
  align-content:flex-end;
  margin-top: -200px;
}

.thefork-restaurant-1-img {
  width: 25%;
  align-self: center;
  z-index: 1;
}

.thefork-home-1-img {
  width: 20%;
  align-self: center;
  margin-left: -150px;
}

.description-thefork {
  color: #1CF490;
  font-size: 45px;
  margin-left: 2em;
  margin-right: 2em;
  float: left;
}

.thefork-app-title {
  width: 20%;
  margin-left: 4em;
  margin-top: 450px;
  text-transform: uppercase;

  color: #1CF490;

  border-top: 1px solid #1CF490;
  border-bottom: 1px solid #1CF490;
  padding-top: 30px;
  padding-bottom: 30px;
}

.old-app-img {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.thefork-old-img-1 {
  align-self: center;
  width: 20%;
}

.thefork-old-img-2 {
  align-self: center;
  width: 30%;
}

.thefork-old-img-3 {
  align-self: center;
  width: 20%;
}

.thefork-project-title {
  width: 20%;
  margin-left: 4em;
  margin-top: 150px;
  text-transform: uppercase;

  color: #1CF490;

  border-top: 1px solid #1CF490;
  border-bottom: 1px solid #1CF490;
  padding-top: 30px;
  padding-bottom: 30px;
}

.background-white-thefork {
  background-color: #FFFFFF;
}

.thefork-project-anteprima-img {
  width: 100%;
}

.thefork-profile-page {
  display: flex;
  justify-content: baseline;
  align-content: center;
}

.thefork-profilepage-title {
  width: 20%;
  margin-left: 4em;
  margin-top: 150px;
  text-transform: uppercase;

  color: #773DD4;

  border-top: 1px solid #773DD4;
  border-bottom: 1px solid #773DD4;
  padding-top: 30px;
  padding-bottom: 30px;

  align-self: flex-start;
}

.thefork-profile-img {
  width: 30%;
  align-self: flex-end;
}

.background-green-thefork {
  background-color: #773DD4;
}

.thefork-map-page {
  display: flex;
  justify-content: baseline;
}

.thefork-map-title {
  width: 20%;
  margin-left: 4em;
  margin-top: 150px;
  text-transform: uppercase;

  color: #1CF490;

  border-top: 1px solid #1CF490;
  border-bottom: 1px solid #1CF490;
  padding-top: 30px;
  padding-bottom: 30px;

  align-self: flex-start;
}

.thefork-map-img, .thefork-home-img {
  width: 25%;
  align-self: center;
}

.thefork-icon-set {
  display: flex;
  justify-content: baseline;
  align-content: baseline;
}

.thefork-icon-title {
  width: 40%;
  margin-left: 4em;
  margin-top: 150px;
  text-transform: uppercase;

  align-self: flex-start;

  color: #773DD4;

  border-top: 1px solid #773DD4;
  border-bottom: 1px solid #773DD4;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thefork-iconset-img {
  width: 40%;
  align-self: center;
  margin-top: 150px;
  margin-left: 100px;
}

.thefork-card-title {
  width: 40%;
  margin-left: 4em;
  margin-top: 150px;
  text-transform: uppercase;

  color: #773DD4;

  border-top: 1px solid #773DD4;
  border-bottom: 1px solid #773DD4;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thefork-card-img {
  width: 50%;
  margin-left: 200px;
}

.background-purple-thefork {
  background-color: #773DD4;
  height: 700px;
  margin-top: -150px;
}

.thefork-food-photos {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.thefork-food-img-1, .thefork-food-img-2, .thefork-food-img-3 {
  margin-top: 250px;
  width: 20%;
  align-self: center;
}



/* -------------------------------------- */
/* --- FADE COLLECTIVE */
/* ------------------------------------------- */

.fadecollective-menu {
  border-color: #000000;
}

a.fade-menu-color {
  color: #000000;
}

.background-fadecollective-color {
  background-color: #FF0000;
  margin-top: -150px;
  height: 1100px;
}

.fade-home-img {
  width: 80%;
  margin-top: 100px;
  margin-left: 200px;
}

.fade-introduction {
  margin-top: -90px;
}

.subtitle-fade {
  color: #FFFFFF;
}

.description-fade {
  color: #FFFFFF;
  font-size: 45px;
  margin-left: 2em;
  margin-right: 2em;
  float: left;
}

.background-white-fadecollective-1 {
  background-color: #FFFFFF;
  margin-top: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fade-detail-img-1 {
  width: 80%;
  margin-left: 10em;
}

.fade-collective-video {
  width: 80%;
  margin-left: 10em;
}

.fade-video-title {
  color: #FF0000;
  margin-top: -400px;
}

.background-white-fadecollective-2 {
  background-color: #FFFFFF;
  margin-top: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fade-detail-img-2 {
  margin-left: 4em;
  margin-bottom: 400px;
}

.fade-detail-img-3 {
  margin-right: 4em;
  margin-top: -10em;
}

.fade-contact-img {
  width: 80%;
  margin-left: 10em;
}



/* -------------------------------------- */
/* --- FML GALLERY */
/* ------------------------------------------- */

.fml-gallery-menu {
  border-color: #1100FF;
}

a.fml-menu-color {
  color: #1100FF;
}

.background-fml-color {
  background-color: #4BFF00;
  margin-top: -150px;
  height: 1000px;
}

.fml-introduction {
  margin-top: -1000px;
}

.title-fml, .subtitle-fml {
  color: #1100FF;
}

.fml-home-img {
  width: 70%;
  float: right;
  margin-left: 4em;
  margin-top: -100px;
}

.description-fml {
  color: #4BFF00;
  font-size: 45px;
  margin-left: 2em;
  margin-right: 2em;
  float: left;
}

.fml-img-1 {
  width: 50%;
}

.fml-img-2 {
  width: 80%;
  float: right;
  margin-top: -80px;
}

.fml-img-3 {
  width: 70%;
  margin-top: -80px;
}

.background-fml-video {
  background-color: #4BFF00;
  height: 1100px;
}

.fml-video {
  width: 80%;
  margin-left: 10em;
}

.fml-video-title {
  color: #000000;
  margin-top: -400px;

  position: relative;
  animation-duration: 4000ms;
  animation-delay: 500ms;
  animation-timing-function: linear;
  animation-name: ciaoHome;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.fml-book-img {
  width: 100%;
  margin-top: 100px;
}


/* -------------------------------------- */
/* --- WORKS */
/* ------------------------------------------- */
.show-img {
  width: 300px;
  align-self: flex-start;
  margin-top: -100px;
  margin-left: 300px;
}

.wanderlust-work-img .show-img {
  display: none;
}

.wanderlust-work-img:hover .show-img {
  display: block;
}

.arrow-white-works {
  display: inline;
  margin-left: 200px;
}





/* -------------------------------------- */
/* --- R E S P O N S I V E */
/* ------------------------------------------- */


/* -------------------------------------- */
/* --- WANDERLUST MUSEUM */
/* ------------------------------------------- */

@media(max-width: 1375px) {
.wand-img-businesscard-project-pg {
  margin-top: -10em;
}

.icon-wand-title {
  margin-right: 3em;
  padding-right: 450px;
}

.wand-img-icons {
  margin-top: 420px;
  padding-bottom: 60px;
}
}

@media(max-width: 1024px) {
 .wanderlust-logo {
    width: 95%;
    margin-left: 1em;
  }

  .description-wanderlust {
    font-size: 2em;
  }

  .project-introduction {
    margin-top: -3em;
  }
  
  .wanderlust-title {
    margin-left: 1em;
    padding-top: 50px;
    font-size: 4em;
    line-height: 70px;
  }
  
  .wanderlust-subtitle {
    margin-left: 2em;
    margin-top: 10px;
    font-size: 2em;
  }

  .wand-img-businesscard-project-pg {
    margin-top: -12em;
  }

  .icon-wand-title {
    margin-right: 3em;
    padding-right: 280px;
  }

  .wand-img-icons {
    margin-top: 250px;
    margin-left: 100px;
  }

  .wand-img-pattern-white {
    margin-left: 4em;
  }

  .wand-pattern-title {
    margin-left: 2.8em;
  }
}

@media(max-width: 768px) {
  .wand-img-businesscard-project-pg {
    width: 40%;
  }

  .wand-img-icons {
    margin-top: 0;
    margin-left: 250px;
  }

  .wand-img-pattern-white {
    width: 85%;
  }
}

@media(max-width: 414px) {
  .description-wanderlust {
    font-size: 1em;
    margin-top: 10px;
  }

  .project-introduction {
    margin-top: -5em;
    height: 700px;
  }
  
  .wand-img-poster-1 {
    width: 70%;
    margin-left: 1em;
  }

  .wand-img-businesscard-project-pg {
    width: 60%;
    margin-top: -90px;
    margin-right: 30px;
  }

  .icon-wand-title {
    padding: 10px 100px 10px 0;
    margin-right: 190px;
    font-size: 1em;
  }

  .wand-img-icons {
    margin-top: -70px;
  }

  .wand-pattern-title {
    padding: 10px 100px 10px 0;
    width: 350px;
    font-size: 1em;
    margin-left: 30px;
  }

  .wand-img-pattern-white {
    margin-left: 2em;
    width: 85%;
  }
}

@media(max-width: 375px) {
  .wand-img-businesscard-project-pg {
    width: 60%;
    margin-top: -150px;
  }

  .icon-wand-title {
    padding: 10px 50px 10px 0;
    margin-right: 190px;
    font-size: 1em;
  }

  .wand-img-icons {
    width: 40%;
    margin-left: 200px;
  }

  .wand-pattern-title {
    width: 320px;
    font-size: 1em;
    margin-left: 30px;
  }
}

/* -------------------------------------- */
/* --- ULTRALIGHT BEAM */
/* ------------------------------------------- */

@media(max-width: 1000px) {
  .ultralight-title {
    margin-left: 1.5em;
    padding-top: 50px;
    font-size: 4em;
    line-height: 70px;
  }

  .ultralight-introduction {
    height: 800px;
    width: 100%;
    margin-top: -6em;
  }

  .description-ultralight {
    font-size: 2em;
  }

  .ultra-inside-2 {
    width: 100%;
    height: 900px;
    margin-top: 8em;
  }

  .spd-info {
    display: block;
  }
}

@media(max-width: 700px) {
  .ultralight-introduction {
    height: 610px;
    width: 100%;
    margin-top: -6em;
  }

  .ultralight-img-repeat-2 {
   margin-top: -200px;
  }

  .ultra-inside-2 {
    height: 800px;
  }

  .ultralight-img-collage-1 {
    margin-left: 20px;
  }

  .ultralight-img-collage-2 {
    width: 70%;
    margin-left: 150px;
    margin-top: 5em;
    padding-bottom: 50px;
  }
}

@media(max-width: 650px) {

  .ultralight-title {
    font-size: 2.5em;
    width: 100%;
    margin-left: 2.3em;
    margin-top: 100px;
  }

  .ultralight-img-collage-1 {
    margin-left: 25px;
  }

  .ultralight-img-collage-2 {
    margin-left: 100px;
    padding-bottom: 50px;
  }

  .ultralight-img-2 {
    margin-top: -200px;
    }
}

@media(max-width: 470px) {
  .ultralight-title {
    font-size: 2em;
    margin-left: 2em;
  }

  .ultralight-subtitle {
    font-size: 1.5em;
    margin-left: 2.8em;
  }

  .ultralight-introduction {
    height: 450px;
  }

  .description-ultralight {
    font-size: 1.5em;
  }

  .ultralight-img-2 {
    margin-top: -150px;
  }

  .ultralight-img-collage-1 {
    margin-top: 40px;
  }

  .ultra-inside-2 {
    margin-top: 4em;
    height: 550px;
  }

  .ultralight-img-verde {
    margin-left: 2em;
  }

  .ultralight-img-repeat {
    margin-right: 2em;
  }
  .ultralight-img-repeat-2 {
    margin-top: -100px;
    margin-left: 2em;
    width: 50%;
  }
}

/* -------------------------------------- */
/* --- PILLS */
/* ------------------------------------------- */
@media(max-width: 1024px) {
  .ultralight-introduction {
    height: 850px;
  }

  .ultralight-img-2 {
    margin-top: -300px;
  }

  .ultralight-img-collage-1 {
    margin-left: 50px;
  }

  .ultralight-img-verde {
    margin-left: 40px;
    margin-top: 20px;
  }

  .ultralight-img-repeat-2 {
    margin-top: -200px;
  }

  .ultralight-img-collage-2 {
    margin-top: 6em;
    padding-bottom: 40px;
  }
}

@media(max-width: 768px) {
  .ultralight-introduction {
    height: 700px;
  }

  .ultralight-img-2 {
    margin-top: -250px;
  }

  .ultralight-img-collage-2 {
    margin-left: 350px;
  }
}

@media(max-width: 414px) {
  .ultralight-introduction {
    height: 430px;
  }

  .description-ultralight {
    font-size: 1em;
  }

  .ultralight-img-2 {
    margin-top: -120px;
  }

  .ultralight-img-collage-1 {
    margin-left: 30px;
  }

  .ultralight-img-repeat-2 {
    margin-top: -70px;
  }

  .ultralight-img-collage-2 {
    margin-left: 10s0px;
  }
}


/* -------------------------------------- */
/* --- PILLS */
/* ------------------------------------------- */

@media(max-width: 1155px) {
  .pills-logo-img {
    margin-bottom: 200px;
  }

  .pointe-introduction {
    margin-top: -150px;
  }
}


/* -------------------------------------- */
/* --- FML GALLERY */
/* ------------------------------------------- */
@media(max-width: 1024px) {
  .background-fml-color {
    height: 800px;
  }

  .fml-introduction {
    margin-top: -850px;
  }
  
  .description-fml {
    margin-top: 150px;
  }

  .fml-img-1, .fml-img-3 {
    margin-left: 2.5em;
  }

  .background-fml-video {
    height: 650px;
  }

  .fml-video-title {
    margin-top: -250px;
  }
}

@media(max-width: 768px) {
  .fml-home-img {
    margin-top: -10px;
  }

  .background-fml-color {
    height: 700px;
  }

  .fml-introduction {
    margin-top: -750px;
  }

  .description-fml {
    font-size: 2.3em;
    margin-top: 50px;
  }

  .fml-img-2 {
    margin-top: -10px;
  }

  .fml-img-3 {
    margin-top: -10px;
  }

  .background-fml-video {
    height: 500px;
  }

  .fml-video-title {
    margin-top: -220px;
    font-size: 15em;
  }
}

@media(max-width: 414px) {
  .project-title {
    font-size: 1.5em;
  }

  .project-subtitle {
    font-size: 1em;
    margin-left: 2.2em;
    margin-top: -5px;
  }

  .background-fml-color {
    height: 400px;
  }

  .fml-introduction {
    margin-top: -480px;
  }

  .description-fml {
    font-size: 1em;
    margin-top: 50px;
  }

  .fml-img-1 {
    margin-top: -10px;
    margin-left: 10px;
    width: 60%;
  }

  .fml-img-2 {
    width: 85%;
  }

  .fml-img-3 {
    width: 75%;
    margin-left: 10px;
  }

  .background-fml-video {
    height: 320px;
  }

  .fml-video  {
    width: 100%;
    margin-left: 5px;
  }

  .fml-video-title {
    margin-top: -180px;
    font-size: 10em;
  }

  .fml-book-img {
    margin-top: -10px;
  }
}

@media(max-width: 375px) {
  .project-title {
    font-size: 1.5em;
  }

  .project-subtitle {
    font-size: 1em;
    margin-left: 2.2em;
    margin-top: -5px;
  }

  .background-fml-color {
    height: 400px;
  }

  .fml-introduction {
    margin-top: -480px;
  }

  .description-fml {
    font-size: 1em;
    margin-top: 50px;
  }

  .fml-video-title {
    margin-top: -220px;
    font-size: 15em;
  }

  .background-fml-video {
    height: 280px;
  }

  .fml-video  {
    width: 100%;
    margin-left: 5px;
  }

  .fml-video-title {
    margin-top: -150px;
    font-size: 10em;
  }

  .fml-book-img {
    margin-top: -10px;
  }
}

/* -------------------------------------- */
/* --- FADE COLLECTIVE */
/* ------------------------------------------- */
@media(max-width: 1024px) {

.fade-home-img {
  margin-left: 50px;
}

.background-fadecollective-color {
  height: 700px;
}

.description-fml {
  margin-right: 4em;
}

.background-white-fadecollective-1 {
  margin-top: 850px;
}

.fade-detail-img-1 {
  margin-top: 100px;
}

.video-title {
  font-size: 14em;
  margin-left: 40px;
}

.fade-video-title {
  margin-top: -300px;
}

.fade-collective-video {
  width: 90%;
  margin-left: 35px;
}

.fade-detail-img-2 {
  margin-top: -200px;
}

.fade-detail-img-3 {
  float: right;
  margin-top: -200px;
}

.fade-contact-img {
  background-color: #FF0000;
  width: 100%;
  margin-left: 0;
  margin-top: 50px;
}
}

@media(max-width: 768px) {
  .background-fadecollective-color {
    height: 600px;
  }

  .project-title {
    font-size: 4em;
    line-height: 1.3em;
  }

  .description-fade {
    font-size: 2em;
    margin-left: 2.3em;
  }
  .video-title {
    font-size: 11em;
  }

  .background-white-fadecollective-1 {
    margin-top: 700px;
  }

  .fade-collective-video {
    margin-left: 70px;
  }

  .fade-detail-img-1 {
    margin-left: 110px;
    width: 80%;
  }

  .fade-detail-img-3 {
    margin-right: 2em;
    width: 70%;
  }
}

@media(max-width: 414px) {
  .background-fadecollective-color {
    height: 350px;
  }

  .background-fadecollective-color {
    height: 350px;
  }

  .title-fade {
    margin-top: 100px;
  }

  .description-fade {
    font-size: 1em;
    margin-top: 30px;
    margin-left: 2em;
  }

  .background-white-fadecollective-1 {
    margin-top: 300px;
  }

  .fade-detail-img-1 {
    margin-top: 0;
    margin-left: 2em;
  }

  .video-title {
    font-size: 5em;
    margin-top: -150px;
  }

  .fade-collective-video {
    margin-left: 40px;
  }

  .background-white-fadecollective-2 {
    margin-top: 200px;
    height: 550px;
  }

  .fade-detail-img-2 {
    margin-top: -150px;
    width: 70%;
    margin-left: 2em;
  }

  .fade-detail-img-3 {
    margin-top: -350px;
  }
}

@media(max-width: 350px) {
  .video-title {
    font-size: 4em;
    margin-top: -150px;
    margin-left: 40px;
  }
}



/* -------------------------------------- */
/* --- PROJECT INFORMATIONS */
/* ------------------------------------------- */


@media(max-width: 1024px) {
.info-ultralight-sx-1 {
  width: 250px;
}

.spd-info-lungo {
  display: none;
}

.spd-info {
  display: block;
}
}

@media(max-width: 768px) {
.info-ultralight {
  background-color: black;
  margin-top: -30px;
  padding-top: 100px;
}

.info-ultralight-1 {
  display: flex;
  border-bottom: 1px solid #ffffff;
  margin-left: 40px;
  margin-right: 40px;
}

.info-title-ultralight {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 20px;
}

li {
  color: #FFFFFF;
  font-size: 35px;
}

ul {
  list-style-type: none;
}

.info-ultralight-sx-1 {
  width: 250px;
}

.spd-info-lungo {
  display: none;
}

.spd-info {
  display: block;
}
}

@media(max-width: 414px) {
  .info-ultralight-1 {
    flex-direction: column;
    font-size: 0.6em;
  }

  li {
    font-size: 25px;
    margin-left: -20px;
  }

  .project-title {
    font-size: 2em;
    width: 80%;
    margin-left: 1em;
  }

  .project-subtitle {
    font-size: 1em;
    width: 80%;
    margin-left: 2em;
    margin-top: 5px;
  }
}


@media(max-width: 375px) {
  .info-ultralight-1 {
    flex-direction: column;
    font-size: 0.6em;
  }

  li {
    font-size: 25px;
    margin-left: -20px;
  }
}

@media(max-width: 300px) {
  .info-ultralight-1 {
    flex-direction: column;
    font-size: 0.6em;
  }

  li {
    font-size: 25px;
    margin-left: -20px;
  }
}